<div class="row">
	<div class="col-xs-12">

	<div class="col-sm-12">
		<h1>{{insurance.module}}</h1>

	</div>
    <div class="row">
<div class="col-sm-12 form-group">
	<label for="name">Enter Coverage Amount</label>
	<input type="number" id="riskvalue" class="form-control" [(ngModel)]="riskValue">

</div>
    </div>

    <div class="row">
    	<div class="col-sm-12">
    		<button class="btn btn-success" (click)="onCalculate()">Calculate</button>
        
    	</div>


    </div>
	
	<div class="row">
    	<div class="col-sm-12" >
    		<h1>Risk Calculation : {{risk.riskCalculation}}</h1>
        
    	</div>


    </div>

	</div>

</div>

